.menu{
    justify-content: space-between;
    padding: 4rem;
    display: flex;
}

.menu-card{
    padding-left: 20rem;
    padding-right: 20rem;
}
.details >.heading{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    font-weight: bolder;
    text-align: left;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight:lighter;
}

/*------responsive-----*/
@media screen and (max-width:700px){
   
    .menu-card{
        padding-left: 0;
        padding-right: 0;
        padding-top:1rem;
        padding-bottom:1rem;
    }
    .menu{
        padding: 0.3rem;
    }

    .details{
        width: 50%;
        text-align: left;
    }

    .heading{
        text-align: left;
    }
}